{#

Page header

@package ResidencesChoisille
@author Jérémy Levron <jeremyjeremy@19h47.fr> (http://19h47.fr)

#}

<header class="Page-header">
	<div class="Site-container">
		<div class="row">

			<div class="col-xs-12 col-md-6 text-xs-center padding-md-right-0">
				<a {{ residence_ehpad.active ? 'class="is-active" ' }}href="{{ residence_ehpad.permalink }}">
					{{- residence_ehpad.title -}}
				</a>
			</div>
			<div class="col-xs-12 col-md-6 text-xs-center padding-md-left-0">
				<a {{ residences_services_seniors.active ? 'class="is-active" ' }}href="{{ residences_services_seniors.permalink }}">
					{{- residences_services_seniors.title -}}
				</a>
			</div>

		</div>
	</div>
</header>
