{#
/**
 * /views/pages/residence
 *
 * @package 	WordPress
 * @subpackage 	19h47
 * @author 		Jérémy Levron levronjeremy@19h47.fr
 */
#}
{% extends 'index.twig' %}


{% block header %}

	{{ parent() }}
	{% include 'partials/page-header.twig' %}
	{% include 'partials/page-menu.twig' %}

{% endblock %}


{% block content %}

	<div class="Residence-slider">

		<div class="Residence-slider__logo">
			<div class="Site-container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
						<img class="hidden-xs hidden-md" src="{{ manifest['img/png/residence-logo.png'] }}" alt="" />
						<p>{{- layout.description -}}</p>
					</div>
				</div>
			</div>
		</div>

		<ul class="Residence-slider__items js-residence-slider">

			{% for image in post.get_field( 'slider' ) %}

			<li class="Residence-slider__item">
				<img
					src="{{ TimberImage( image ).src }}"
					alt="{{ TimberImage( image ).title }}"
					width="{{ TimberImage( image ).width }}"
					height="{{ TimberImage( image ).height }}"
				/>
			</li>

			{% endfor %}

		</ul>

		{% if post.get_field( 'slider' )|length > 1 %}

		<ul class="Residence-slider__navigation">
			<li>
				<button class="Residence-slider__navigation__previous js-residence-slider-previous">
					<svg class="">
						  <use xlink:href="{{ theme.link }}/dist/icons.svg#arrow-previous"></use>
					</svg>
				</button>
			</li>
			<li>
				<button class="Residence-slider__navigation__next js-residence-slider-next">
					<svg class="">
						  <use xlink:href="{{ theme.link }}/dist/icons.svg#arrow-next"></use>
					</svg>
				</button>
			</li>
		</ul>

		{% endif %}
	</div>


	<div id="{{ layout.name == 'rss' ? 'notre-concept' : 'notre-residence' }}" class="Residence-presentation">
		<div class="Site-container">
			<div class="row">

				<div class="col-xs-12 col-md-6">
					<img class="img-full" src="{{ TimberImage(  post.get_field( 'presentation_image' ) ).src }}" alt="" />
				</div>

				<div class="col-xs-12 col-md-5 col-md-offset-1">
					{{ post.get_field( 'presentation_content' ) }}
				</div>

			</div>


			{% if layout.pictogram %}

			<div class="row">
				<div class="col-xs-12 col-md-4 Residence-presentation__item">
					<svg class="">
						  <use xlink:href="{{ theme.link }}/dist/icons.svg#liberte"></use>
					</svg>
					<h3>Liberté</h3>
				</div>
				<div class="col-xs-12 col-md-4 Residence-presentation__item">
					<svg class="">
						  <use xlink:href="{{ theme.link }}/dist/icons.svg#confort"></use>
					</svg>
					<h3>Confort</h3>
				</div>
				<div class="col-xs-12 col-md-4 Residence-presentation__item">
					<svg class="">
						  <use xlink:href="{{ theme.link }}/dist/icons.svg#securite"></use>
					</svg>
					<h3>Sécurité</h3>
				</div>
			</div>

			{% endif %}

		</div>
	</div>


	<div id="{{ layout.name == 'rss' ? 'notre-residence' : 'hebergement' }}" class="Residence-accommodation">

		{% if post.get_field( 'accomodation_image' ) %}

		<img
			src="{{ TimberImage( post.get_field( 'accomodation_image' ) ).src }}"
			alt="{{ layout.name == 'rss' ? 'Notre résidence' : 'Hébergement' }}"
		/>

		{% endif %}

		<div class="Site-container">

			<div class="row">
				<div class="col-xs-12 col-md-6">

					{{- post.get_field( 'accomodation_content' ) -}}

				</div>
			</div>

		</div>

	</div>

	{% if layout.name == 'rss' %}
		<div class="Site-container Residence-find-us">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<img src="{{ manifest['img/jpg/find-us-01.jpg'] }}" alt="" />
					{# <div class="embed-container"> #}
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111416.84670133328!2d0.6714114901334096!3d47.4197458564485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd5716f7570fb%3A0x1d75bd8fba90ff32!2s156+Boulevard+Charles+de+Gaulle%2C+37540+Saint-Cyr-sur-Loire!5e0!3m2!1sfr!2sfr!4v1511287521326"
							frameborder="0" style="border:0" allowfullscreen></iframe>
					{# </div> #}
				</div>
				<div class="col-xs-12 col-md-5 col-md-offset-1">
					<h2>Où se trouve la<br>résidence ?</h2>

					<p>
						Idéalement située, vous bénéficiez d’une proximité avec les transports en communs (bus, tram) et de nombreux commerces.
					</p>

					<p>
						La commune de Saint-Cyr-sur-Loire se situe au cœur de la Touraine, territoire en lien naturel entre la région parisienne et la façade atlantique. La ville profite de nombreuses liaisons routières et autoroutières. Proche de l’aéroport Tours-Val de Loire, et des deux lignes à très grandes vitesses qui placent la Touraine à 50 min de Paris et de 1h30 de Bordeaux.
					</p>

				</div>
			</div>
		</div>
	{% endif %}


	{# Services #}
	<div id="nos-services" class="Residence-services">

		<div class="Site-container">

			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">

					<h2>{{- __( 'Nos Services' ) -}}</h2>

					<p>
						<em>Une équipe chaleureuse et attentive est à votre écoute pour vous apporter tout le confort nécessaire au quotidien.</em>
					</p>

				</div>
			</div>

			<div class="row Residence-services__wrapper">

				<div
					class="col-xs-12 {{ layout.services == 'right' ? ' col-md-push-6 col-md-6' : ' col-md-6'  }}"
				>

					<ul class="Residence-services__images js-residence-services-image">

					{% for slide in post.get_field( 'services' ) %}
						<li>
							<img src="{{ TimberImage( slide.image ).src }}" alt="" />
						</li>
					{% endfor %}

					</ul>

				</div>

				<div class="col-xs-12 col-md-5{{ layout.services == 'right' ? ' col-md-pull-6' :  ' col-md-offset-1' }}">

					<ul class="Residence-services__content js-residence-services-content">

					{% for slide in post.get_field( 'services' ) %}
						<li>
							{{ slide.content }}

							{% if slide.services %}

								<div class="row">
									{% for service in slide.services %}
										<div class="col-xs-12 col-md-6 text-xs-center text-md-left">
											<img
												src="{{ TimberImage( service.image ).src }}"
												alt=""
												width="65"
												height="65"
											/>
											<p>{{ service.title }}</p>
										</div>
									{% endfor %}
								</div>
							{% endif %}

						</li>
					{% endfor %}

					</ul>

				</div>

			</div>

		</div>
	</div>


	{# Apartments #}
	{% if layout.apartments %}

	<div id="nos-appartements" class="Residence-apartments">
		<div class="Site-container">
			<div class="row Residence-apartments__header">
				<div class="col-xs-12 col-md-6">
					<h2>
						{{- __( 'Nos Appartements' ) -}}
					</h2>
					<p>
						<em class="color-orange-mostly-desaturated-dark">Devenir locataire au sein des Résidences Choisille, c’est profiter d’un appartement chaleureux, sécurisant conçu pour s’adapter à vos besoins afin d’optimiser votre confort au quotidien.</em>
					</p>
				</div>
			</div>

			<div class="row position-xs-relative">

				<ul class="Residence-apartments__images js-residence-apartments-image">
					{% for apartment in post.get_field( 'apartments' ) %}
					<li>
						<img src="{{ TimberImage( apartment.image ).src }}" alt="" />
					</li>
					{% endfor %}
				</ul>


				<ul class="Residence-apartments__navigation">

					{% spaceless %}

					<li>
						<button class="Residence-apartments__navigation__previous js-residence-apartments-previous">
							<svg class="">
								  <use xlink:href="{{ theme.link }}/dist/icons.svg#arrow-previous"></use>
							</svg>
						</button>
					</li>
					<li>
						<button class="Residence-apartments__navigation__next js-residence-apartments-next">
							<svg class="">
								  <use xlink:href="{{ theme.link }}/dist/icons.svg#arrow-next"></use>
							</svg>
						</button>
					</li>

					{% endspaceless %}
				</ul>


				<div class="col-xs-12 col-md-9 col-md-offset-3">
					<div class="Residence-apartments__slider">
						<ul class="Residence-apartments__content js-residence-apartments-content">

						{% for apartment in post.get_field( 'apartments' ) %}
							<li>{{ apartment.content }}</li>
						{% endfor %}

						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">

					<p class="Residence-apartments__catchphrase">
						<em>Plus qu’un simple appartement, un nouveau cadre de vie où vous pourrez organiser votre journée comme bon vous semble !</em>
					</p>
				</div>
			</div>
		</div>
	</div>

	{% endif %}

	{# Actuality #}
	{% if layout.actuality and post.get_field( 'actuality_link' ) %}

	<div id="notre-actualite" class="Residence-blog text-xs-center">

		<div class="Site-container">

			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">

					<h2>Pour en savoir plus sur notre quotidien</h2>
					<p>
						<em>
							Vous pouvez nous suivre via notre blog qui retranscrit quotidiennement la vie au sein de la Résidence.
						</em>
					</p>

					{% if post.get_field( 'actuality_link' ) %}
					<a
						href="{{ post.get_field( 'actuality_link' ).url }}"
						{{- post.get_field( 'actuality_link' ).target ? ' target="_blank"' -}}
					>
						{{- post.get_field( 'actuality_link' ).title | default( 'Notre actualité' ) -}}
					</a>
					{% endif %}


				</div>
			</div>

		</div>
	</div>

	{% endif %}


	{% include 'partials/page-illustration.twig' %}


	<div class="Residence-contact-us">
		<div class="Site-container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">

					<p>
						<em>
							{{- post.get_field( 'contact_us_content' ) -}}
						</em>
					</p>

					{% for item in menu.page.header if item.slug == 'nous-contacter' %}
						<a href="{{ item.permalink }}">Contactez-nous</a>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block footer %}

	{% include 'partials/page-footer.twig' %}
	{{ parent() }}

{% endblock %}
